$red: #eb5757;
$blue: #0075ff;
$gray: #93b0c8;
$gray-soft-1: #e4e4e4;
$gray-soft-2: #e9edf7;
$white: #ffffff;
$blue-dark: #4318ff;
$red-soft-1: #ecbfb5;
$red-soft-2: #fde3dd;
$green: #26d922;
$green-soft-1: #dff9de;
$green-soft-2: #bef2bd;
$black-soft-1: #2b3674;
$black-soft-2: #707eae;
$pedia-color: #4d3180;
$pedia-color-soft: #e7e1f1;