@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  background-color: #ebf7fe;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.btn-main {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
.btn-main:hover {
  background-color: #221241;
  color: #ffffff;
}

#login-page .login-top {
  max-height: 50vh;
  background-color: #4d3180;
  background-position-y: top;
}
#login-page .main-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  padding-top: 5em;
}
#login-page .login-card {
  display: flex;
  width: 100%;
}
#login-page .login-card .card {
  width: 450px;
  border-radius: 10px;
  border: none;
}
#login-page .login-card .card .btn-fb {
  color: #ffffff;
  background-color: #2b3674;
}
#login-page .login-card .card .btn-fb:hover {
  background-color: #0c083b;
}
#login-page .login-card .card .btn-main-login {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-main-login:hover {
  background-color: #221241;
}
#login-page .login-card .card .btn-done-register {
  background-color: #707eae;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-done-register:hover {
  background-color: #1a2357;
}
#login-page .login-card .card .separator {
  padding: 2.5em 0;
  position: relative;
}
#login-page .login-card .card .separator .line {
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 100%;
  top: 50%;
}
#login-page .login-card .card .separator .separator-text {
  position: absolute;
  z-index: 1;
  padding: 0 15px;
  top: 35%;
  left: 40%;
}
#login-page .login-card .card form#login-form {
  font-size: 14px;
  font-weight: 500;
  color: #2b3674;
}
#login-page .login-card .card form#login-form input {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
#login-page .login-card .card form#login-form input:focus {
  background-color: #ececec;
}
#login-page .login-card .card form#login-form a {
  color: #2b3674;
  text-decoration: none;
}
#login-page footer {
  color: #2b3674;
}

@media screen and (max-width: 1366px) {
  .page-content {
    margin: 40px 1em;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .page-content {
    margin-top: 40px;
    margin-left: 300px;
    height: 100%;
  }
}
.page-content .header-greeting p {
  color: #707eae;
}
.page-content .header-greeting h1 {
  color: #2b3674;
}
.page-content .stats {
  color: #93b0c8;
  font-size: 14px;
}
.page-content .num-count {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}
.page-content .stats-card .card {
  height: 97px;
  border: none;
  margin: 0 0 10px;
  border-radius: 1em;
  width: auto;
}
.page-content .stats-card .card .card-body {
  min-height: 97px;
}
.page-content .stats-card .card .card-body .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #f4f7fe;
  margin-right: 1em;
}
.page-content .stats-card .card .card-body .icon-holder i {
  color: #0075ff;
  font-size: 24px;
}
.page-content .stats-card .card:hover {
  transition: 0.5s ease;
  background-color: #4d3180;
  cursor: pointer;
}
.page-content .stats-card .card:hover .stats {
  color: #e9edf7;
  font-size: 14px;
}
.page-content .stats-card .card:hover .num-count {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .page-content .main-chart {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .page-content .main-chart {
    padding-right: 40px;
  }
}
.page-content .main-chart .card {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 1em;
}
.page-content .main-chart .card .card-body {
  padding: 2em;
}
.page-content .main-chart .card .card-body .dropdown__ {
  width: auto;
}
.page-content .main-chart .card .card-body .chart {
  border-top: 3px dashed #4318ff;
  width: 100%;
  position: relative;
}
.page-content .main-chart .card .card-body .chart::after {
  content: "179";
  color: #4318ff;
  font-weight: 700;
  position: absolute;
  top: -12px;
}
.page-content .main-chart .card .card-body .chart img {
  width: 100%;
}

#main-calc {
  background: #fff;
}
#main-calc h1 {
  color: #2b3674;
  font-weight: 600;
}
#main-calc input {
  padding: 12px;
  border-radius: 8px;
}
#main-calc label {
  font-weight: 600;
  color: #2b3674;
}
#main-calc .search-input {
  position: relative;
}
#main-calc .search-input input[type=text] {
  padding: 12px 40px;
}
#main-calc .search-input i {
  position: absolute;
  left: 15px;
  top: 18px;
  color: #2b3674;
}/*# sourceMappingURL=custom.css.map */