@import 'colorpallete';
@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Heavy.woff2') format('woff2'),
		url('/assets/fonts/Avenir-Heavy.woff2') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url('/assets/fonts/Avenir-Medium.woff') format('woff2'),
		url('/assets/fonts/Avenir-Medium.woff2') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir-Light';
	src: url('/assets/fonts/Avenir-Light.woff') format('woff2'),
		url('/assets/fonts/Avenir-Light.woff2') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

// Component Utilities
@mixin num-count {
	color: $black-soft-1;
	font-size: 24px;
	font-weight: 600;
}

@mixin rounded-1 {
	border-radius: 18px;
	border: none;
}

@mixin avenirLight {
	font-family: 'Avenir-Light', sans-serif !important;
}

@mixin avenirMedium {
	font-family: 'Avenir-Medium', sans-serif !important;
}

.avenir {
	font-family: 'Avenir', sans-serif;
}

.avenir-medium {
	font-family: 'Avenir-Medium', sans-serif;
}

.avenir-light {
	font-family: 'Avenir-Light', sans-serif;
}

body {
	background-color: #ebf7fe;
	font-family: 'Avenir', sans-serif;
	overflow-x: hidden;
}

label {
	@include avenirMedium;
}

::placeholder {
	@include avenirLight;
	color: $black-soft-2 !important;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	@include avenirLight;
	color: $black-soft-2 !important;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	@include avenirLight;
	color: $black-soft-2 !important;
}

.counter-card {
	@include num-count;
}

.title-text {
	color: $black-soft-1;
}

.search-input,
.filter-input {
	position: relative;

	input {
		padding: 12px 50px;
		border: 1px solid $gray-soft-1;
		border-radius: 8px;
	}

	select {
		padding: 12px 20px;
		border: 1px solid $gray-soft-1;
		border-radius: 8px;
	}

	i {
		position: absolute;
		left: 15px;
		top: 18px;
		color: $black-soft-1;
	}
}

.btn-main {
	background-color: $pedia-color;
	color: $white;
	font-weight: 600;
	border-radius: 3rem;
	letter-spacing: 2px;

	&:hover {
		background-color: #221241;
		color: $white;
	}
}

.btn-edit {
	background-color: $gray;
	color: $white;
	border-radius: 3rem;
	padding: 1em;
	font-size: 12px;

	&:hover {
		background-color: #a28ad3;
		color: $white;
	}
}

.btn-add-main {
	background-color: $pedia-color;
	color: $white;
	border-radius: 3rem;
	padding: 1em;
	font-size: 12px;

	&:hover {
		background-color: #221241;
		color: $white;
	}
}

#login-page {
	.login-top {
		max-height: 50vh;
		background-color: $pedia-color;
		background-position-y: top;
	}

	.main-logo-title {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 12rem;
		padding-top: 5em;
	}

	.login-card {
		display: flex;
		width: 100%;

		.card {
			width: 450px;
			border-radius: 10px;
			border: none;

			.btn-fb {
				color: $white;
				background-color: $black-soft-1;

				&:hover {
					background-color: #0c083b;
				}
			}

			.btn-main-login {
				background-color: $pedia-color;
				color: $white;
				font-weight: 600;
				border-radius: 3rem;
				letter-spacing: 2px;

				&:hover {
					background-color: #221241;
				}
			}

			.btn-done-register {
				background-color: $black-soft-2;
				color: $white;
				font-weight: 600;
				border-radius: 3rem;
				letter-spacing: 2px;

				&:hover {
					background-color: #1a2357;
				}
			}

			.separator {
				padding: 2.5em 0;
				position: relative;

				.line {
					position: absolute;
					border: 1px solid #d3d3d3;
					width: 100%;
					top: 50%;
				}

				.separator-text {
					position: absolute;
					z-index: 1;
					padding: 0 15px;
					top: 35%;
					left: 40%;
				}
			}
			form#login-form {
				font-size: 14px;
				font-weight: 500;
				color: $black-soft-1;

				input {
					border-radius: 8px;
					padding: 10px;
					border: 1px solid #e6e6e6;

					&:focus {
						background-color: #ececec;
					}
				}

				a {
					color: $black-soft-1;
					text-decoration: none;
				}
			}
		}
	}
	footer {
		color: $black-soft-1;
	}
}

.page-content-mobile {
	margin: 40px 0 0 290px;
}

.page-content {
	margin: 40px 10px;

	@media screen and (min-width: 768px) {
		margin: 40px 20px 0 300px;
	}

	.header-greeting {
		p {
			color: $black-soft-2;
		}

		h1 {
			color: $black-soft-1;
			letter-spacing: -1px;
		}
	}

	.stats {
		color: $gray;
		font-size: 14px;
		font-family: 'Avenir-Medium';
	}

	.num-count {
		@include num-count;
	}

	.stats-card {
		.card {
			height: 97px;
			border: none;
			margin: 0 0 10px;
			border-radius: 1em;
			width: auto;

			.card-body {
				min-height: 97px;

				.icon-holder {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 56px;
					height: 56px;
					border-radius: 100%;
					background-color: #f4f7fe;
					margin-right: 0.5em;
					i {
						color: $blue;
						font-size: 24px;
					}
				}
			}
		}
		#abbot {
			background-color: $pedia-color;
			color: $white;
		}
	}

	.main-chart {
		@media screen and (max-width: 768px) {
			margin-top: 40px;
		}

		@media screen and (min-width: 1366px) {
			padding-right: 40px;
		}

		.card {
			width: 100%;
			height: auto;
			border: none;
			border-radius: 1em;

			.card-body {
				padding: 2em;

				.dropdown__ {
					width: auto;
				}

				.chart {
					border-top: 3px dashed $blue-dark;
					width: 100%;
					position: relative;
					&::after {
						content: '179';
						color: $blue-dark;
						font-weight: 700;
						position: absolute;
						top: -12px;
					}
					img {
						width: 100%;
					}
				}
			}
		}
	}

	.patient-card {
		.card {
			border: none !important;
			min-height: 500px;
			padding: 1em;
			border-radius: 8px;
			.title {
				color: $gray;
			}
		}

		.table-responsive {
			border-top: 1px solid $gray-soft-1;

			table {
				font-size: 12px;
				font-weight: 500;
				th,
				td {
					color: $pedia-color;
				}
			}

			.btn-details {
				background-color: $green;
				color: $white;
				border-radius: 25px;
				padding: 10px 20px;
				font-size: 12px;

				&:hover {
					transition: 0.5s ease;
					background-color: #239c21;
				}
			}

			.btn-delete {
				background-color: $red;
				color: $white;
				border-radius: 25px;
				padding: 10px 20px;
				font-size: 12px;

				&:hover {
					transition: 0.5s ease;
					background-color: #913030;
				}
			}
		}
	}
}

#modalPatient {
	.modal-content {
		@include rounded-1;
	}

	input,
	select {
		border-radius: 8px;
		padding: 10px;
		border: 1px solid $gray-soft-1;
	}

	label {
		font-weight: 500;
		color: $black-soft-1;
	}
}

#modalDetailPatient {
	.modal-content {
		@include rounded-1;
	}

	.detail-wrapper {
		border-left: 5px solid $blue-dark;
		padding-left: 8px;

		.detail-title {
			color: $gray;
		}

		.detail-main-text {
			color: $black-soft-1;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.milk-rec {
		@include rounded-1;
		border: 1px dashed #000;
		background: $pedia-color-soft;
		padding: 2em;
		text-align: center;
	}
}

.calc-wrapper {
	background: #fff;
	border-radius: 8px;

	h3 {
		color: $black-soft-1;
		font-weight: 600;
	}

	input {
		padding: 12px;
		border-radius: 8px;
	}

	input#patient-search {
		padding-left: 40px;
	}

	label {
		font-weight: 600;
		color: $black-soft-1;
	}
}

.wrapper {
	.card {
		background-color: $white;
		height: auto;
		border-radius: 8px;
		border: none;

		.thumbnail {
			position: relative;
			width: 100%;
			border-radius: 8px;

			img {
				width: 100%;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
		}

		.desc {
			.duration {
				background: $gray-soft-2;
				color: $black-soft-1;
				font-size: 12px;
				font-weight: 600;
				width: fit-content;
				border-radius: 4px;
			}

			.title {
				color: $black-soft-1;
				font-size: 16px;
				font-weight: 700;
				max-height: 75px;
				overflow: hidden;
			}
		}
	}
}

#patient-details-card {
	.card {
		border: none;
		border-radius: 8px;

		h3 {
			color: $black-soft-1;
			font-weight: 600;
		}

		.wrapper-details {
			.details {
				h6 {
					color: $gray;
				}

				.text-details {
					color: $black-soft-1;
					font-weight: 600;

					@media screen and (max-width: 1366px) {
						font-size: 12px;
					}
				}
			}

			&::before {
				content: '-';
				background-color: $blue-dark;
				color: $blue-dark;
				font-weight: bold;
				font-size: 10px;
				margin-right: 8px;
				border-radius: 10px;
			}
		}
	}
}

#history-checkup {
	h3 {
		font-weight: 600;
		color: $black-soft-1;
	}

	.title {
		color: $gray;
	}

	.card {
		border: none;
		border-radius: 8px;

		.table-responsive {
			margin-top: 1em;
			border-top: 1px solid $gray-soft-1;
			.table {
				th {
					color: $pedia-color;
					font-size: 12px;
					font-weight: 600;
				}

				td {
					color: $pedia-color;
					font-size: 12px;
					font-weight: 500;
				}
				.btn-details {
					background-color: $green;
					color: $white;
					border-radius: 25px;
					padding: 10px 20px;
					font-size: 12px;

					&:hover {
						transition: 0.5s ease;
						background-color: #239c21;
					}
				}
			}
		}
	}
}

#pic {
	background-color: $black-soft-1;

   .btn-add-main {
      background-color: $blue-dark;

      &:hover {
         transition: .5s ease;
         background-color: $black-soft-2;
      }
   }   

	.pic-page {
		background-color: $black-soft-1;

		h1,
		p {
			color: $white;
		}

		.stats-card {
			.card {
				&:hover {
					transition: 0.5s ease;
					background-color: $blue-dark;

					.stats {
						color: $gray-soft-2;
						font-size: 14px;
					}

					.num-count {
						color: $white;
						font-size: 24px;
						font-weight: 600;
					}

					cursor: pointer;
				}
			}
		}
	}

   .patient-card {
      h5 {
         color: $white;
      }
   }
}
