@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.counter-card {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}

body {
  background-color: #ebf7fe;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.title-text {
  color: #2b3674;
}

.search-input,
.filter-input {
  position: relative;
}
.search-input input,
.filter-input input {
  padding: 12px 50px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.search-input select,
.filter-input select {
  padding: 12px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.search-input i,
.filter-input i {
  position: absolute;
  left: 15px;
  top: 18px;
  color: #2b3674;
}

.btn-main {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
.btn-main:hover {
  background-color: #221241;
  color: #ffffff;
}

.btn-edit {
  background-color: #93b0c8;
  color: #ffffff;
  border-radius: 3rem;
  padding: 1em;
  font-size: 12px;
}
.btn-edit:hover {
  background-color: #a28ad3;
  color: #ffffff;
}

.btn-add-main {
  background-color: #4d3180;
  color: #ffffff;
  border-radius: 3rem;
  padding: 1em;
  font-size: 12px;
}
.btn-add-main:hover {
  background-color: #221241;
  color: #ffffff;
}

#login-page .login-top {
  max-height: 50vh;
  background-color: #4d3180;
  background-position-y: top;
}
#login-page .main-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  padding-top: 5em;
}
#login-page .login-card {
  display: flex;
  width: 100%;
}
#login-page .login-card .card {
  width: 450px;
  border-radius: 10px;
  border: none;
}
#login-page .login-card .card .btn-fb {
  color: #ffffff;
  background-color: #2b3674;
}
#login-page .login-card .card .btn-fb:hover {
  background-color: #0c083b;
}
#login-page .login-card .card .btn-main-login {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-main-login:hover {
  background-color: #221241;
}
#login-page .login-card .card .btn-done-register {
  background-color: #707eae;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-done-register:hover {
  background-color: #1a2357;
}
#login-page .login-card .card .separator {
  padding: 2.5em 0;
  position: relative;
}
#login-page .login-card .card .separator .line {
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 100%;
  top: 50%;
}
#login-page .login-card .card .separator .separator-text {
  position: absolute;
  z-index: 1;
  padding: 0 15px;
  top: 35%;
  left: 40%;
}
#login-page .login-card .card form#login-form {
  font-size: 14px;
  font-weight: 500;
  color: #2b3674;
}
#login-page .login-card .card form#login-form input {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
#login-page .login-card .card form#login-form input:focus {
  background-color: #ececec;
}
#login-page .login-card .card form#login-form a {
  color: #2b3674;
  text-decoration: none;
}
#login-page footer {
  color: #2b3674;
}

.page-content-mobile {
  margin: 40px 0 0 290px;
}

.page-content {
  margin: 40px 10px;
}
@media screen and (min-width: 768px) {
  .page-content {
    margin: 40px 20px 0 300px;
  }
}
.page-content .header-greeting p {
  color: #707eae;
}
.page-content .header-greeting h1 {
  color: #2b3674;
}
.page-content .stats {
  color: #93b0c8;
  font-size: 14px;
}
.page-content .num-count {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}
.page-content .stats-card .card {
  height: 97px;
  border: none;
  margin: 0 0 10px;
  border-radius: 1em;
  width: auto;
}
.page-content .stats-card .card .card-body {
  min-height: 97px;
}
.page-content .stats-card .card .card-body .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #f4f7fe;
  margin-right: 0.5em;
}
.page-content .stats-card .card .card-body .icon-holder i {
  color: #0075ff;
  font-size: 24px;
}
.page-content .stats-card .card:hover {
  transition: 0.5s ease;
  background-color: #4d3180;
  cursor: pointer;
}
.page-content .stats-card .card:hover .stats {
  color: #e9edf7;
  font-size: 14px;
}
.page-content .stats-card .card:hover .num-count {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .page-content .main-chart {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .page-content .main-chart {
    padding-right: 40px;
  }
}
.page-content .main-chart .card {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 1em;
}
.page-content .main-chart .card .card-body {
  padding: 2em;
}
.page-content .main-chart .card .card-body .dropdown__ {
  width: auto;
}
.page-content .main-chart .card .card-body .chart {
  border-top: 3px dashed #4318ff;
  width: 100%;
  position: relative;
}
.page-content .main-chart .card .card-body .chart::after {
  content: "179";
  color: #4318ff;
  font-weight: 700;
  position: absolute;
  top: -12px;
}
.page-content .main-chart .card .card-body .chart img {
  width: 100%;
}
.page-content .patient-card .card {
  border: none !important;
  min-height: 500px;
  padding: 1em;
  border-radius: 8px;
}
.page-content .patient-card .card .title {
  color: #93b0c8;
}
.page-content .patient-card .table-responsive {
  border-top: 1px solid #e4e4e4;
}
.page-content .patient-card .table-responsive table {
  font-size: 12px;
  font-weight: 500;
}
.page-content .patient-card .table-responsive table th,
.page-content .patient-card .table-responsive table td {
  color: #4d3180;
}
.page-content .patient-card .table-responsive .btn-details {
  background-color: #26d922;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
.page-content .patient-card .table-responsive .btn-details:hover {
  transition: 0.5s ease;
  background-color: #239c21;
}
.page-content .patient-card .table-responsive .btn-delete {
  background-color: #eb5757;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
.page-content .patient-card .table-responsive .btn-delete:hover {
  transition: 0.5s ease;
  background-color: #913030;
}

#modalPatient .modal-content {
  border-radius: 18px;
  border: none;
}
#modalPatient input,
#modalPatient select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e4e4e4;
}
#modalPatient label {
  font-weight: 500;
  color: #2b3674;
}

#modalDetailPatient .modal-content {
  border-radius: 18px;
  border: none;
}
#modalDetailPatient .detail-wrapper {
  border-left: 5px solid #4318ff;
  padding-left: 8px;
}
#modalDetailPatient .detail-wrapper .detail-title {
  color: #93b0c8;
}
#modalDetailPatient .detail-wrapper .detail-main-text {
  color: #2b3674;
  font-size: 16px;
  font-weight: 600;
}
#modalDetailPatient .milk-rec {
  border-radius: 18px;
  border: none;
  border: 1px dashed #000;
  background: #e7e1f1;
  padding: 2em;
  text-align: center;
}

.calc-wrapper {
  background: #fff;
  border-radius: 8px;
}
.calc-wrapper h3 {
  color: #2b3674;
  font-weight: 600;
}
.calc-wrapper input {
  padding: 12px;
  border-radius: 8px;
}
.calc-wrapper input#patient-search {
  padding-left: 40px;
}
.calc-wrapper label {
  font-weight: 600;
  color: #2b3674;
}

.wrapper .card {
  background-color: #ffffff;
  height: auto;
  border-radius: 8px;
  border: none;
}
.wrapper .card .thumbnail {
  position: relative;
  width: 100%;
  border-radius: 8px;
}
.wrapper .card .thumbnail img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.wrapper .card .desc .duration {
  background: #e9edf7;
  color: #2b3674;
  font-size: 10px;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}
.wrapper .card .desc .title {
  color: #2b3674;
  font-size: 0.7em;
  font-weight: 700;
  max-height: 75px;
  overflow: hidden;
}

#patient-details-card .card {
  border: none;
  border-radius: 8px;
}
#patient-details-card .card h3 {
  color: #2b3674;
  font-weight: 600;
}
#patient-details-card .card .wrapper-details .details h6 {
  color: #93b0c8;
}
#patient-details-card .card .wrapper-details .details .text-details {
  color: #2b3674;
  font-weight: 600;
}
@media screen and (max-width: 1366px) {
  #patient-details-card .card .wrapper-details .details .text-details {
    font-size: 12px;
  }
}
#patient-details-card .card .wrapper-details::before {
  content: "-";
  background-color: #4318ff;
  color: #4318ff;
  font-weight: bold;
  font-size: 10px;
  margin-right: 8px;
  border-radius: 10px;
}

#history-checkup h3 {
  font-weight: 600;
  color: #2b3674;
}
#history-checkup .title {
  color: #93b0c8;
}
#history-checkup .card {
  border: none;
  border-radius: 8px;
}
#history-checkup .card .table-responsive {
  margin-top: 1em;
  border-top: 1px solid #e4e4e4;
}
#history-checkup .card .table-responsive .table th {
  color: #4d3180;
  font-size: 12px;
  font-weight: 600;
}
#history-checkup .card .table-responsive .table td {
  color: #4d3180;
  font-size: 12px;
  font-weight: 500;
}
#history-checkup .card .table-responsive .table .btn-details {
  background-color: #26d922;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
#history-checkup .card .table-responsive .table .btn-details:hover {
  transition: 0.5s ease;
  background-color: #239c21;
}

#pic {
  background-color: #2b3674;
}
#pic .btn-add-main {
  background-color: #4318ff;
}
#pic .btn-add-main:hover {
  transition: 0.5s ease;
  background-color: #707eae;
}
#pic .pic-page {
  background-color: #2b3674;
}
#pic .pic-page h1,
#pic .pic-page p {
  color: #ffffff;
}
#pic .pic-page .stats-card .card:hover {
  transition: 0.5s ease;
  background-color: #4318ff;
  cursor: pointer;
}
#pic .pic-page .stats-card .card:hover .stats {
  color: #e9edf7;
  font-size: 14px;
}
#pic .pic-page .stats-card .card:hover .num-count {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}
#pic .patient-card h5 {
  color: #ffffff;
}/*# sourceMappingURL=custom.css.map */