@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.woff") format("woff2"), url("../fonts/Avenir-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.woff") format("woff2"), url("../fonts/Avenir-Light.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.avenir {
  font-family: "Avenir", sans-serif;
}

.avenir-medium {
  font-family: "Avenir-Medium", sans-serif;
}

.avenir-light {
  font-family: "Avenir-Light", sans-serif;
}

.table-info {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1em;
  font-family: "Avenir-Medium", sans-serif !important;
}
.table-info .dropdown-container {
  position: relative;
}
.table-info .dropdown-container .page-select {
  border: none;
  font-size: 13px;
  font-weight: bold;
}
.table-info .dropdown-container i {
  position: absolute;
  right: 45px;
  top: 10px;
}
.table-info .paging-of {
  font-size: 14px;
  font-weight: bold;
}

.rounded-default {
  border-radius: 8px;
}

.rounded-1 {
  border-radius: 18px;
  border: none;
}

.modal-top {
  position: relative;
}
.modal-top .btn-close {
  position: absolute;
  right: 0;
  top: -35px;
}

.detail-wrapper .detail-title {
  color: #93b0c8;
  font-family: "Avenir-Medium", sans-serif !important;
}
.detail-wrapper .detail-main-text {
  color: #2b3674;
  font-size: 16px;
  font-weight: 600;
}
.detail-wrapper::before {
  content: "-";
  background-color: #4318ff;
  color: #4318ff;
  font-weight: bold;
  font-size: 10px;
  margin-right: 8px;
  border-radius: 10px;
}

body {
  background-color: #ebf7fe;
  font-family: "Avenir-Medium", sans-serif;
  overflow-x: hidden;
}

label {
  font-family: "Avenir-Medium", sans-serif !important;
}

input, select {
  color: #2b3674 !important;
}

::-moz-placeholder {
  font-family: "Avenir-Light", sans-serif !important;
  color: #707eae !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  font-family: "Avenir-Light", sans-serif !important;
  color: #707eae !important;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  font-family: "Avenir-Light", sans-serif !important;
  color: #707eae !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Avenir-Light", sans-serif !important;
  color: #707eae !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Avenir-Light", sans-serif !important;
  color: #707eae !important;
}

.counter-card {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}

.title-text {
  color: #2b3674;
}

.search-input,
.filter-input {
  position: relative;
}
.search-input input,
.filter-input input {
  padding: 12px 50px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.search-input select,
.filter-input select {
  padding: 12px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.search-input i,
.filter-input i {
  position: absolute;
  left: 15px;
  top: 18px;
  color: #2b3674;
}

.btn-main {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: normal;
  border-radius: 3rem;
  letter-spacing: 2px;
}
.btn-main:hover {
  background-color: #221241;
  color: #ffffff;
}

.btn-main-alt {
  background-color: #4d3180;
  color: #ffffff;
  font-family: "Avenir-Light", sans-serif !important;
}
.btn-main-alt:hover {
  background-color: #221241;
  color: #ffffff;
}

.btn-edit {
  background-color: #93b0c8;
  color: #ffffff;
  border-radius: 3rem;
  padding: 1em;
  font-size: 12px;
}
.btn-edit:hover {
  background-color: #a28ad3;
  color: #ffffff;
}

.btn-add-main {
  background-color: #4d3180;
  color: #ffffff;
  border-radius: 3rem;
  padding: 1em;
  font-size: 12px;
}
.btn-add-main:hover {
  background-color: #221241;
  color: #ffffff;
}

.btn-wa {
  background-color: #26d922;
  color: #ffffff;
  font-family: "Avenir-Light", sans-serif !important;
}
.btn-wa:hover {
  background-color: #30a02f;
  color: white;
}

#login-page .login-top {
  max-height: 50vh;
  background-color: #4d3180;
  background-position-y: top;
}
#login-page .main-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  padding-top: 5em;
}
#login-page .login-card {
  display: flex;
  width: 100%;
}
#login-page .login-card .card {
  width: 450px;
  border-radius: 10px;
  border: none;
}
#login-page .login-card .card .btn-fb {
  color: #ffffff;
  background-color: #2b3674;
}
#login-page .login-card .card .btn-fb:hover {
  background-color: #0c083b;
}
#login-page .login-card .card .btn-main-login {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-main-login:hover {
  background-color: #221241;
}
#login-page .login-card .card .btn-done-register {
  background-color: #4d3180;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3rem;
  letter-spacing: 2px;
}
#login-page .login-card .card .btn-done-register:hover {
  background-color: #221241;
}
#login-page .login-card .card .btn-done-register:disabled {
  background-color: #707eae;
}
#login-page .login-card .card .separator {
  padding: 2.5em 0;
  position: relative;
}
#login-page .login-card .card .separator .line {
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 100%;
  top: 50%;
}
#login-page .login-card .card .separator .separator-text {
  position: absolute;
  z-index: 1;
  padding: 0 15px;
  top: 35%;
  left: 40%;
}
#login-page .login-card .card form#login-form {
  font-size: 14px;
  font-weight: 500;
  color: #2b3674;
}
#login-page .login-card .card form#login-form input, #login-page .login-card .card form#login-form select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  color: #2b3674;
}
#login-page .login-card .card form#login-form input:focus, #login-page .login-card .card form#login-form select:focus {
  background-color: #ececec;
}
#login-page .login-card .card form#login-form a {
  color: #2b3674;
  text-decoration: none;
}
#login-page footer {
  color: #2b3674;
}

.page-content-mobile {
  margin: 40px 0 0 290px;
}

.page-content {
  margin: 40px 10px;
}
@media screen and (min-width: 768px) {
  .page-content {
    margin: 40px 20px 0 300px;
  }
}
.page-content .header-greeting p {
  color: #707eae;
}
.page-content .header-greeting h1 {
  color: #2b3674;
  letter-spacing: -1px;
}
.page-content .stats {
  color: #93b0c8;
  font-size: 14px;
  font-family: "Avenir-Medium";
}
.page-content .num-count {
  color: #2b3674;
  font-size: 24px;
  font-weight: 600;
}
.page-content .stats-card .card {
  height: 97px;
  border: none;
  margin: 0 0 10px;
  border-radius: 8px;
  width: auto;
}
.page-content .stats-card .card .card-body {
  min-height: 97px;
}
.page-content .stats-card .card .card-body .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #f4f7fe;
  margin-right: 0.5em;
}
.page-content .stats-card .card .card-body .icon-holder i {
  color: #0075ff;
  font-size: 24px;
}
.page-content .stats-card #abbot {
  background-color: #4d3180;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .page-content .main-chart {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .page-content .main-chart {
    padding-right: 40px;
  }
}
.page-content .main-chart .card {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
}
.page-content .main-chart .card .card-body {
  padding: 2em;
}
.page-content .main-chart .card .card-body .dropdown__ {
  width: auto;
}
.page-content .main-chart .card .card-body .chart {
  border-top: 3px dashed #4318ff;
  width: 100%;
  position: relative;
}
.page-content .main-chart .card .card-body .chart::after {
  content: "179";
  color: #4318ff;
  font-weight: 700;
  position: absolute;
  top: -12px;
}
.page-content .main-chart .card .card-body .chart img {
  width: 100%;
}
.page-content .patient-card .card {
  border: none !important;
  min-height: 500px;
  border-radius: 8px;
}
.page-content .patient-card .card .title {
  color: #93b0c8;
}
.page-content .patient-card .table-responsive {
  border-top: 1px solid #e4e4e4;
}
.page-content .patient-card .table-responsive table {
  font-size: 14px;
  font-weight: 500;
  border-collapse: inherit;
}
.page-content .patient-card .table-responsive table th,
.page-content .patient-card .table-responsive table td {
  color: #4d3180;
}
.page-content .patient-card .table-responsive .btn-details {
  background-color: #26d922;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
.page-content .patient-card .table-responsive .btn-details:hover {
  transition: 0.5s ease;
  background-color: #239c21;
}
.page-content .patient-card .table-responsive .btn-delete {
  background-color: #eb5757;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
.page-content .patient-card .table-responsive .btn-delete:hover {
  transition: 0.5s ease;
  background-color: #913030;
}

#searchPatient .modal-content {
  border-radius: 18px;
  border: none;
}
#searchPatient .modal-content .table {
  color: #2b3674;
}

#modalPatient .modal-content {
  border-radius: 18px;
  border: none;
}
#modalPatient input,
#modalPatient select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e4e4e4;
}
#modalPatient label {
  font-weight: 500;
  color: #2b3674;
}

#modalDetailPatient .modal-content {
  border-radius: 18px;
  border: none;
}
#modalDetailPatient .milk-rec {
  border-radius: 18px;
  border: none;
  border: 1px dashed #000;
  background: #e7e1f1;
  padding: 2em;
  text-align: center;
}

.calc-wrapper {
  background: #fff;
  border-radius: 8px;
}
.calc-wrapper h3 {
  color: #2b3674;
  font-weight: 600;
}
.calc-wrapper input {
  padding: 12px;
  border-radius: 8px;
}
.calc-wrapper input#patient-search {
  padding-left: 40px;
}
.calc-wrapper label {
  font-weight: 600;
  color: #2b3674;
}

.wrapper .card {
  background-color: #ffffff;
  height: auto;
  border-radius: 8px;
  border: none;
}
.wrapper .card .thumbnail {
  position: relative;
  width: 100%;
  border-radius: 8px;
}
.wrapper .card .thumbnail img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.wrapper .card .desc .duration {
  background: #e9edf7;
  color: #2b3674;
  font-size: 12px;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}
.wrapper .card .desc .title {
  color: #2b3674;
  font-size: 16px;
  font-weight: 700;
  max-height: 75px;
  overflow: hidden;
}

#patient-details-card .card {
  border: none;
  border-radius: 8px;
}
#patient-details-card .card h3 {
  color: #2b3674;
  font-weight: 600;
}
#patient-details-card .card .wrapper-details .details h6 {
  color: #93b0c8;
}
#patient-details-card .card .wrapper-details .details .text-details {
  color: #2b3674;
  font-weight: 600;
}
@media screen and (max-width: 1366px) {
  #patient-details-card .card .wrapper-details .details .text-details {
    font-size: 12px;
  }
}
#patient-details-card .card .wrapper-details::before {
  content: "-";
  background-color: #4318ff;
  color: #4318ff;
  font-weight: bold;
  font-size: 10px;
  margin-right: 8px;
  border-radius: 10px;
}

#history-checkup h3 {
  font-weight: 600;
  color: #2b3674;
}
#history-checkup .title {
  color: #93b0c8;
}
#history-checkup .card {
  border: none;
  border-radius: 8px;
}
#history-checkup .card .table-responsive {
  margin-top: 1em;
  border-top: 1px solid #e4e4e4;
}
#history-checkup .card .table-responsive .table {
  border-collapse: inherit;
}
#history-checkup .card .table-responsive .table th {
  color: #2b3674;
  font-size: 14px;
  font-weight: 600;
}
#history-checkup .card .table-responsive .table td {
  color: #2b3674;
  font-size: 14px;
  font-weight: 500;
}
#history-checkup .card .table-responsive .table .btn-details {
  background-color: #26d922;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12px;
}
#history-checkup .card .table-responsive .table .btn-details:hover {
  transition: 0.5s ease;
  background-color: #239c21;
}

#profile-section .card {
  border: none;
  border-radius: 8px;
  min-height: 500px;
}
#profile-section .photo-row {
  display: flex;
  justify-content: center;
  padding: 1em;
}
#profile-section .photo-row .photo-profile {
  height: 123px;
  width: 123px;
  border-radius: 100%;
  position: relative;
}
#profile-section .photo-row .photo-profile i {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: #4318ff;
}
#profile-section .name-row {
  text-align: center;
}
#profile-section .name-row .name {
  font-size: 20px;
  color: #2b3674;
}
#profile-section .name-row .id {
  margin-top: 6px;
  font-size: 16px;
  font-family: "Avenir-Medium", sans-serif !important;
}
#profile-section .data-row .title {
  color: #93b0c8;
  font-size: 14px;
}
#profile-section .data-row .title-text {
  font-size: 16px;
  font-weight: 600;
}
#profile-section #profile-form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  color: #2b3674;
}

#photoUpload .photo-placeholder {
  border-radius: 8px;
  border: 2px dashed #93b0c8;
  background-color: #e9edf7;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#photoUpload .btn-disabled {
  background-color: #e9edf7;
  border-radius: 2em;
  color: #93b0c8;
  font-size: 14px;
}
#photoUpload .btn-disabled:hover {
  background-color: #93b0c8;
  color: #e4e4e4;
}

#resultModal .data-result {
  max-height: 500px;
  overflow-y: scroll;
}
#resultModal .data-result .dropdown-container {
  position: relative;
}
#resultModal .data-result .dropdown-container .result-dropdown {
  border-radius: 8px;
  padding: 10px 6px;
  font-family: "Avenir-Light", sans-serif !important;
}
#resultModal .data-result .dropdown-container i {
  position: absolute;
  right: 20px;
  top: 15px;
}
#resultModal .data-result .milk-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #2b3674;
  min-height: 384px;
  border-radius: 1em;
  background-color: #e9edf7;
}

#pic {
  background-color: #2b3674;
}
#pic .btn-add-main {
  background-color: #4318ff;
}
#pic .btn-add-main:hover {
  transition: 0.5s ease;
  background-color: #707eae;
}
#pic .pic-page {
  background-color: #2b3674;
}
#pic .pic-page h1,
#pic .pic-page p {
  color: #ffffff;
}
#pic .pic-page .stats-card .card.active {
  background-color: #4318ff;
}
#pic .pic-page .stats-card .card.active .stats {
  color: white;
}
#pic .pic-page .stats-card .card:hover {
  transition: 0.5s ease;
  background-color: #4318ff;
  cursor: pointer;
}
#pic .pic-page .stats-card .card:hover .stats {
  color: #e9edf7;
  font-size: 14px;
}
#pic .pic-page .stats-card .card:hover .num-count {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}
#pic .patient-card h5 {
  color: #ffffff;
}

.nav-pills .nav-link {
  border-radius: 8px;
  background-color: #F8F7FA;
  color: #93b0c8;
}
.nav-pills .nav-link .active {
  background-color: #4318ff;
}
.nav-pills .show > .nav-link {
  background-color: #4318ff;
}/*# sourceMappingURL=custom.css.map */