@import 'colorpallete';

@font-face {
   font-family: 'Avenir-Medium';
   src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
       url('../fonts/Avenir-Medium.woff2') format('woff');
   font-style: normal;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $gray-soft-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	transition: 0.5s ease-in-out;
	background: $pedia-color;
}
.nav-sidebar {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff !important;
	overflow-x: hidden;
	padding-top: 16px;
   font-family: 'Avenir-Medium', sans-serif;

	.logo-container {
		display: flex;
		justify-content: center;
		width: 100%;

		img {
			width: 168px;
		}
	}

	.doc-profile {
		margin: 25px 0 20px;
		padding-bottom: 1em;

		.avatar-placeholder {
			display: flex;
			justify-content: end;
			padding: 0;

			img {
				width: 45px;
				height: 45px;
			}
		}

		.doc-stats {
			font-size: 14px;
			color: $black-soft-1;
			#name {
				font-weight: 900;
			}

			#no-profesi {
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	.menu-list {
		height: auto;

		.menu-head {
			font-size: 12px;
			color: $gray;
			font-weight: 400;
		}

		.main-menu,
		.support-menu {
			padding-bottom: 20px;

			ul {
				padding: 0;
				list-style-type: none;

				li {
					padding: 20px 20px;
				}
			}

			a {
				color: $gray;
				font-weight: 400;
				font-size: 14px;
				text-decoration: none;

				i {
					margin-right: 15px;
				}

				&:hover {
					transition: 0.5s ease;
					color: $blue;
				}
			}
		}
		.menu {
			&:hover {
				background: linear-gradient(
					90deg,
					rgba(0, 117, 255, 0.227328431372549) 0%,
					rgba(0, 117, 255, 0) 90%
				);
				transition: 0.5s ease;
				cursor: pointer;
				color: $blue;
			}
		}
		.active-menu {
			transition: 0.5s ease;
			background: #0075ff;
			background: linear-gradient(
				90deg,
				rgba(0, 117, 255, 0.227328431372549) 0%,
				rgba(0, 117, 255, 0) 90%
			);
			color: $blue;
			border-left: 4px solid #0075ff;
			font-weight: bold;

         path {
            border: $blue-dark;
         }
		}
	}
	.sidebar-footer {
		padding: 2em;
		font-size: 12px;
		font-weight: 600;
		border-top: 1px solid $gray;
		color: #2b3674;
	}
}

.nav-sidebar-mobile {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: $white;
	width: 280px;
	z-index: 2;
   font-family: 'Avenir-Medium', sans-serif;

	.doc-profile {
		padding: 1em;

		.doc-stats {
			font-size: 14px;
			color: $black-soft-1;
			#name {
				font-weight: bold;
			}

			#no-profesi {
				font-weight: 400;
			}
		}
	}

	.main-menu,
	.support-menu {
		padding: 2em 1em 5em;
      border-top: 1px solid $gray;

      h6 {
         color: $gray;
      }

		ul {
			padding: 0;
			list-style-type: none;

			li {
				padding: 15px 15px 15px 18px;
            margin-bottom: 15px;
			}
		}

		a {
			color: $gray;
			font-weight: 400;
			font-size: 14px;
			text-decoration: none;

			i {
				margin-right: 15px;
			}

			&:hover {
				transition: 0.5s ease;
				color: $blue;
			}
		}
	}
   .menu {
      overflow: hidden;
      &:hover {
         background-color: #0077ff1a;
         transition: 0.5s ease;
         cursor: pointer;
         color: $blue;
         border-radius: 8px;
         font-weight: 700;
      }
   }
   .active-menu {
      transition: 0.5s ease;
      background-color: #0077ff1a;
      border-radius: 8px;
      color: $blue;
      font-weight: 700;
   }
}

.moved {
   transform: translateX(280px);
}


